# Credentials
wifi_credentials.h
config.h

# Arduino build files
build/
*.hex
*.bin

# OS files
.DS_Store        # This line prevents future .DS_Store files
**/.DS_Store     # This catches .DS_Store in subdirectories too
Thumbs.db


git.token
git.update
